$appBg: hsl(60, 100%, 100%);
$hColor: hsl(248, 31%, 20%);
$pColor: hsl(228, 24%, 23%);
$btnColor: hsl(51, 100%, 51%);
$btnText: hsl(248, 31%, 20%);
$accent: hsl(180, 50%, 82%);
$hw: hsl(27, 88%, 61%);